# Logs

# Dependency directories
node_modules/
jspm_packages/

*.xlsx
*.csv
*.xls
*.txt
*.dbf

.env*
#storage/*
*.js
filtered/
package-lock.json
#package.json
successful.txt
error.txt
static/
logs/
registries_backup/
main.ts
cron-script.ts