# Logs

# Dependency directories
node_modules/
jspm_packages/

# Ignored files types
*.xlsx
*.csv
*.xls
*.txt
*.dbf
*.log
*.zip
*.rar
*.js
.env*

#storage/*

filtered/
package-lock.json
package.json
static/
#logs/*
registries_backup/
main.ts
cron-script.ts
.idea/